@page "/movies/create"
@inject Blazor_app_v3.Data.ApplicationDbContext DB
@using Blazor_app_v3.Components.Classes
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Movie" OnValidSubmit="AddMovie" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label> 
                <InputText id="title" @bind-Value="Movie.Title" class="form-control" /> 
                <ValidationMessage For="() => Movie.Title" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label> 
                <InputText id="description" @bind-Value="Movie.Description" class="form-control" /> 
                <ValidationMessage For="() => Movie.Description" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="relasedate" class="form-label">RelaseDate:</label> 
                <InputDate id="relasedate" @bind-Value="Movie.RelaseDate" class="form-control" /> 
                <ValidationMessage For="() => Movie.RelaseDate" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="rate" class="form-label">Rate:</label> 
                <InputNumber id="rate" @bind-Value="Movie.Rate" class="form-control" /> 
                <ValidationMessage For="() => Movie.Rate" class="text-danger" /> 
            </div>      
            <div class="mb-3">
                <label for="imgUrl" class="form-label">URL image:</label>
                <InputText id="imgUrl" @bind-Value="Movie.imgUrl" class="form-control" />
                <ValidationMessage For="() => Movie.imgUrl" class="text-danger" />
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/movies">Back to List</a>
</div>

@code {

    [SupplyParameterFromForm]
    public Movie Movie { get; set; } = new();

    // To protect from overposting attacks, see https://aka.ms/RazorPagesCRUD
    public async Task AddMovie()
    {
        bool exists = DB.Movie.Any(m => m.Title == Movie.Title);


        if (!exists)
        {
            DB.Movie.Add(Movie);
            await DB.SaveChangesAsync();
            NavigationManager.NavigateTo("/movies");
        }
        else
        {
            NavigationManager.NavigateTo("/auth");
        }
    }
}
